<div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <hr>
        <div class="form-group">
          <input type="text"
            class="form-control form-control-lg" name="design" ngModel required  aria-describedby="helpId" placeholder="Designation">
        </div>
        <div class="form-group">
            <input type="number"
              class="form-control form-control-lg" name="stock" ngModel required id="" aria-describedby="helpId" placeholder="Stock">
          </div>
          <div class="form-group">
            <input type="number"
              class="form-control form-control-lg" name="pu" id="" ngModel required aria-describedby="helpId" placeholder="Prix Unitaire">
          </div>
          <button type="submit"  class="btn btn-primary btn-block btn-lg">Ajouter</button>
    </form>
</div>