.tableau, .card{
    width:100%;
    grid-column: 1/5;
    font-size: 9px;

}
.page-link{
    cursor: pointer;
}
.container-fluid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto 250px;
    grid-gap: 50px;
    padding: 50;
}
.btn{
    transform: scale(0.7);
}
.card{
    /* border: none; */
     box-shadow: 1px 1px 5px 1px inset rgb(243, 240, 240); 
    height: 500px;
}

.card-header{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.btn-add{
    margin-right: 10px;
    margin-top: 5px;
}