<nav class="navbar navbar-expand shadow">
    <a class="navbar-brand text-uppercase" href="#">Gestion de commande</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/client']" routerLinkActive="router-link-active" >CLIENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/produit']" routerLinkActive="router-link-active">PRODUIT</a>
        </li><li class="nav-item">
            <a class="nav-link" href="#">COMMANDE</a>
        </li>
    </ul>
    <button type="button" class="btn btn-danger btn-sm" (click)="logout()">
        Deconnection
    </button>
</nav>
