<div class="update">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <hr>
        <div class="form-group">
          <input type="text"
            class="form-control form-control-lg" name="design" [(ngModel)]="produitEdit.design" required  aria-describedby="helpId" placeholder="Designation">
        </div>
        <div class="form-group">
            <input type="number"
              class="form-control form-control-lg" name="stock" [(ngModel)]="produitEdit.stock"  required id="" aria-describedby="helpId" placeholder="Stock">
          </div>
          <div class="form-group">
            <input type="number"
              class="form-control form-control-lg" name="pu" id="" [(ngModel)]="produitEdit.pu" required aria-describedby="helpId" placeholder="Prix Unitaire">
          </div>
          <button type="submit" [disabled]="form.invalid"  class="btn btn-primary btn-block btn-lg">Mettre à jour </button>
    </form>
</div>