<div class="container bg-light m-5">
    <table class="table table-hover mt-5 table-sm table-bordered">
        <thead class="text-center text-uppercase">
            <th>id</th>
            <th>Designation</th>
            <th>quantite</th>
            <th>Prix Unitaire</th>
            <th>Montant</th>
            <th colspan="2">Action</th>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let panier of paniers">
                <td>{{ panier.id }}</td>
                <td>{{ panier.design }}</td>
                <td>{{ panier.quantite }}</td>
                <td>{{ panier.pu }} Ar</td>
                <td>{{ panier.pu * panier.quantite }} Ar</td>
                <td><button type="button" class="btn btn-outline-info btn-sm">
                    Editer
                </button></td>
                <td><button type="button" class="btn btn-outline-danger btn-sm">
                    Annuler
                </button></td>
            </tr>
        </tbody>
    </table>
    <button type="button" name="" id="" class="btn btn-success " (click)="validate()">Soumettre le commande</button>
</div>