<div
    class="card mt-5 mb-5"
    style="position: relative; margin: 0 auto; width: 700px; height: auto"
>
    <div
        *ngIf="isWait"
        style="
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(0 0 0 / 71%);
        "
    >
        <div
            style="
                margin-top: 200px;
                font-size: 20px;
                text-align: center;
                color: white;
            "
        >
            En attente reponse au serveur ...
        </div>
    </div>
    <div class="card-header bg-primary  p-2" style="position: relative;">
        <a style="position: absolute;right: 20px;" class="text-light"  
        [routerLink]="['/commande/create']" 
        routerLinkActive="router-link-active">
            <i class="fas fa-cart-plus fa-2x fa-fw"></i></a>
        <h5 class=" text-white text-uppercase">Panier du commande</h5>
    </div>
    <div class="card-body border-top">
        <table class="table table-hover table-sm">
            <thead class="text-center text-uppercase">
                <th>id</th>
                <th>Designation</th>
                <th>quantite</th>
                <th>P.u</th>
                <th>Montant</th>
                <th colspan="2" *ngIf="!isBtnWait">Action</th>
            </thead>
            <tbody class="text-center text-s">
                <tr *ngFor="let panier of paniers; let i = index;">
                    <td>{{ panier.id }}</td>
                    <td>{{ panier.design }}</td>
                    <td>{{ panier.quantite }}</td>
                    <td>{{ panier.pu }} Ar</td>
                    <td>{{ panier.pu * panier.quantite }} Ar</td>
                    <td *ngIf="!isBtnWait">
                        <a (click)="edit_panier(editContentPanier, i,panier.id,panier.design,panier.quantite,panier.pu)"
                            ><i class="fas fa-pencil-alt" aria-hidden="true"></i
                        ></a>
                    </td>
                    <td>
                        <a *ngIf="!isBtnWait" (click)="open(confirm, i)"
                            ><i class="fa fa-trash" aria-hidden="true"></i
                        ></a>
                    </td>
                </tr>
                <tr
                    class="text-center"
                    *ngIf="paniers.length === 0"
                    style="height: 50px"
                >
                    <td colspan="7" style="font-style: italic;">Aucun panier</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="card-body text-right">
            <h4 class="mb-1">TOTAL : {{ priceTotal }}<sub>Ar</sub></h4>
        </div>
        <a
            (click)="validate()"
            *ngIf="!isBtnWait && paniers.length !== 0"
            class="btn btn-primary mt-5 mb-5 btn-block btn-lg"
            >Valider & Generate pdf</a
        >
        <a
            *ngIf="isBtnWait"
            class="btn btn-secondary mt-5 mb-5 btn-block btn-lg"
        >
            <span class="spinner-grow spinner-grow-sm"></span>
            Traitement en cours...
        </a>
    </div>
</div>
<ng-template #editContentPanier let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editer un commande </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="m-2 text-uppercase" *ngIf="(onePanierEditable.stock - onePanierEditable.qte) > 0 ">
            Stockage disponible : <span class=" text-success">{{ onePanierEditable.stock - onePanierEditable.qte}}</span>
        </div>
        <div class="m-2 alert alert-danger" *ngIf="(onePanierEditable.stock - onePanierEditable.qte) <= 0 ">
            Stockage n'est pas suffisant pour la quantité choisie
        </div>
        <div class="d-flex justify-content-between text-uppercase text-dark font-weight-bolder  mb-3">
            <div class="p-2 ">Produit</div>
            <div class="p-2 ">Quantite</div>
            <div class="p-2 ">P.U</div>
            <div class="p-2 ">Montant</div>
          </div>
          <hr>
        <div class="d-flex text-center justify-content-between  mb-3">
            <div class="p-2 ">{{ onePanierEditable.design }}</div>
            <div class="p-2 ">{{ onePanierEditable.qte }}</div>
            <div class="p-2 ">{{ onePanierEditable.pu }}</div>
            <div class="p-2 ">{{ onePanierEditable.pu * onePanierEditable.qte }}</div>
          </div>
          
          <div class="d-flex justify-content-between text-uppercase text-dark font-weight-bolder  mb-3">
            <div class="p-2 ">
                <input class="form-control" min="1" [(ngModel)]="onePanierEditable.qte"  style="width: 100px;" type="number" name="qte" id="">
            </div>
            <div *ngIf="(onePanierEditable.stock - onePanierEditable.qte) > 0 && onePanierEditable.qte > 0" class="p-2 ">
                <button type="button" (click)="update_panier();c('Close click')" class="btn btn-primary">
                    Mettre à jour
                </button>
        </div>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #confirm  let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        Avez-vous sûre de supprimer cet element dans le panier ?
    </div>
    <div class="btn-group btn-block">
        <button
            class="btn btn-danger btn-sm"
            (click)="deleteItem(indexElementDelete); modal.close('Save click')"
        >
            Oui
        </button>
        <button
            class="btn btn-primary btn-sm"
            (click)="modal.close('Save click')"
        >
            Non
        </button>
    </div>
</ng-template>
