.content{
   justify-content: space-between;
    display:flex;
    padding-left:70px;
    padding-right: 80px;
    flex-direction: row;
    margin-top: 100px;
}
form{

    width:400px;
    border-radius:3px;
    padding:30px;
    transform: scale(0.75);
    margin-top:50px;
    height: 320px;
    /* border: 1px solid  rgb(94, 9, 72); */
    box-shadow: 0 4px 8px 0px rgb(53, 26, 49), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    
}
.content-action{
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
}
a{
    font-size:12px;
    padding-top:5px
}
img{
    width:450px;
    height: 400px;
    opacity:0.8;
    margin-top:-50px;
    animation: bouge 2s linear 0s infinite alternate ;
}
@keyframes bouge {
    0% {transform: translateY(0);opacity: 0.8}
    50% {transform: translateY(20px);opacity:0.2}
    100% {transform:translateY(0);opacity: 0.8}
}
.theme{
    background: rgb(179, 50, 140);
    text-align: center;
    width: 100%;
    justify-content: center;
    padding-left: 70px;
    margin-top:-15px;
    margin-left:-45%;
    transform: rotate(-45deg) scale(0.5);
    height: 50px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    padding-top:10px;
    font-size:20px;
    color: white
}
input{
    width: 100%;
    background: none;
    border: 1px solid rgb(94, 9, 72);
    padding:10px;
    color:#fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left:20px;
    transition: 0.2s transform linear
}
h1{
    font-family: "Helvetica Neue",Helvetica,Arial
}

.btn{
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(63, 32, 61)); */
    width:150px;
    border-radius:15px;
    padding:10px;
    border: 1px solid rgb(63, 32, 61);
    transition: 1s transform linear;
    color: #fff;
    text-transform: uppercase
}
.btn:active {
    transform: scale(0.9);
}
.btn:disabled{
    transform: scale(1);
    cursor: not-allowed
}
input:focus{
    transform: scale(0.9);
    
}
.message-error{
    height:40px;
    background-color:#aa0000;
    font-weight: 400;
    color: #fff;
    padding-top: 12px;
}