<div class="theme">
 <h1>gestion de commande</h1>
</div>
<div class="content container">
  <div class="container-login  ">
    <form #formulaire = "ngForm" (ngSubmit)="onSubmit(formulaire)">
      <h1 class="title text-primary text-uppercase mb-5 text-center">Authentification</h1>
      <div class="form-group">
        <input type="text" name="email" ngModel required  id="email" placeholder="Email">
      </div>
  
      <div class="form-group">
        <input type="password" name="password" ngModel required  id="password" placeholder="Mot de passe">
      </div>
    <div class="content-action">
      <button type="submit"  class="btn btn-primary">se connecter</button>
      <a href="http://">Mot de passe oublié?</a>
    </div>
    </form>
  </div>
  <div class="container-image">
    <img src="../../../assets/images/bannerthumb.png" alt="inmage illistator bannerthumb" srcset="">
  </div>
</div>
<script>
  alert('Met ve ')
</script>