<div class=" card bg-light mt-5" style="margin:0 auto; width:1000px;height: auto;">
    <div class="card-header bg-primary text-center p-2">
       <h4 class="mb-0 text-white text-uppercase"> Liste du commande   </h4>
   </div>
   <div class="row" style="transform: scale(0.9);">
       <div class="col-lg-4 text-center">
            <h6 class="text-center mt-3 text-uppercase text-underline">Mode de recherche</h6>
            <form class="text-center">
                <div class="custom-control custom-radio custom-control-inline" (click)="mode(true)">
                  <input type="radio" class="custom-control-input" id="mode1" name="example"   checked value="date">
                  <label class="custom-control-label text-dark" for="mode1">Entre deux date</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" (click)="mode(false)">
                  <input type="radio" class="custom-control-input" id="mode2" name="example" value="month">
                  <label class="custom-control-label text-dark" for="mode2">Mois/Année</label>
                </div>
              </form> 
       </div>
       <div class="col-lg-8">
        <div class="d-flex p-1 flex-row-reverse  " *ngIf="mode_date">
            <div class="input-group mb-3 m-4" style="width: 190px;">
              <input type="date" class="form-control form-control-lg" [(ngModel)]="end_date" placeholder="Date fin">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" [disabled] =" end_date === undefined || start_date === undefined" (click)="searchProduit()"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
            <span class="m-4">jusqu'au</span>
            <div class="input-group mb-3 m-4" style="width: 190px;">
              <input  type="date" class="form-control form-control-lg" [(ngModel)]="start_date"  placeholder="Date debut">
            </div>
            <span class="m-4">Depuis au</span>
        </div>
        
        <div class="d-flex p-1 flex-row-reverse text-center" *ngIf="!mode_date">
            <div class="input-group mb-3 m-4" style="width: 150px;">
              <select [(ngModel)]="month" class="form-control form-control-lg">
                  <!-- <option value="">Tous</option> -->
                  <option *ngFor="let item of months; let i = index" [value]="item[index]">{{item[1]}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" (click)="searchCommande()"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
            <!-- <div class="input-group mb-3" style="width: 100px;">
                <input type="number" class="form-control form-control-lg" [(ngModel)]="size_year">
            </div> -->
            <div class="input-group mb-3 m-4" style="width: 100px;">
                <select [(ngModel)]="year" class="form-control form-control-lg">
                    <option a-nfr *ngFor="let item2 of years" value="{{ item2 }}">{{item2}}</option>
                </select>
              </div>
        </div>
        <div class="  "  style="width:300px">
          <div class="form-group">
              <label for=""></label>
              <select style="font-size: 15px;" class="custom-select custom-select-lg text-dark" name="" (change)="changeClient()"  id="" [(ngModel)]='clientID'>
                  <option value="0" selected >--------selectionnez un client------</option>
                  <option *ngFor="let client of clients" value="{{client.id}}">{{ client.lastName }} {{ client.firstName }}</option>
              </select>
          </div>
      </div>
    </div>
   </div>
   <a class="btn btn-sm btn-primary mb-3" style="width: 150px;"  (click)= "refresh()">
    Actualiser la liste
   </a>
   
   <table class="table table-hover table-sm">
       <thead class="text-center text-uppercase" style="font-size: 10px">
           <th>N° facture</th>
           <th>Client</th>
           <th>Date de commande</th>
           <th colspan="3">Actions</th>
       </thead>
       <tbody class="text-center" style="font-size: 11px;position: relative;">
           <tr *ngFor="let commande of commandes | slice:startIndex:endIndex">
               <td>{{ commande.numFacture }}</td>
               <td class="text-left">{{ commande.Clients.lastName }} {{ commande.Clients.firstName }}</td>
               <td>{{ commande.createdAt | date:'d/MM/y'}}</td>
               <td><a (click)="open(shower, commande.numFacture)"><i class="fas text-primary fa-eye "></i></a><td>
               <td><a><i class="fa text-danger fa-trash-alt" (click)="openComfirmDelete(confirm,commande.numFacture)" aria-hidden="true"></i></a></td>
           </tr>
           <div *ngIf="isLoading" style="position:absolute; top: 50%;right:50%; width: 40px; height: 40px;" class="spinner-grow text-muted"></div>
         <tr
                    class="text-center text-danger"
                    *ngIf="commandes.length === 0"
                    style="height: 150px"
                >  
                    <td colspan="7">{{ msg_empty_table }}</td>
                </tr>
       </tbody>
   </table>
   <br>
   <div class="container">
       <nav aria-label="Page navigation">
         <ul class="pagination">
           <li class="page-item " [ngClass]="{disabled: numberPage === 1}">
             <a class="page-link" (click)='prevPage()'  aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
               <span class="sr-only">Previous</span>
             </a>
           </li>
           <li class="page-item"  
           *ngFor="let item of getArrayFromNumber(commandes.length);let i = index" 
           [ngClass]="{ active: numberPage == i + 1}">
               <a class="page-link" (click)="navigate(i+1)">{{ i +1 }}</a>
           </li>
           <li class="page-item"  [ngClass]="{disabled: numberPage === maxPage}">
             <a class="page-link" (click)="nextPage()" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
               <span class="sr-only">Next</span>
             </a>
           </li>
         </ul>
       </nav>
   </div>
   <br>
   <br>
   <br>
</div>

<ng-template #shower let-modal>
  <div class="modal-header" style="border-top: 10px solid rgb(170, 33, 33);">
      <h4 class="modal-title text-uppercase" id="modal-basic-title">Element commnade par {{currentName}}</h4>
      <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
      >
          <span aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
    <div class=" alert alert-sm alert-success" *ngIf="success_message !==''">{{ success_message }}</div>
    <div class=" alert alert-sm alert-danger" *ngIf="error_message !==''">{{ error_message }}</div>
    <div class=" alert alert-sm alert-warning" *ngIf="warning_message !==''">{{ warning_message }}</div>
    <table class="table table-hover table-sm ">
        <thead class="text-center text-uppercase" style="font-size: 12px">
            <th>Designation</th>
            <th>quantite</th>
            <th>P.U</th>
            <th>Montant</th>
            <th>Date</th>
            <th colspan="2">Actions</th>
        </thead>
        <tbody class="text-center" style="font-size: 12px">
            <tr *ngFor="let cmd of cmds; let i = index ">
                <td>{{ cmd.Produits.design}}</td>
                <td>{{ cmd.qte }}</td>
                <!-- <td>
                  <input type="number" value="{{ cmd.qte }}">
                </td> -->
                <td>{{  cmd.Produits.pu}}</td>
                <td>{{ cmd.qte * cmd.Produits.pu }}</td>
                <td>{{ cmd.createdAt | date:'d/MM/y' }}</td>
                <td ><a (click)="editMode(i)"><i class="fa text-warning fa-pencil-alt" aria-hidden="true"></i></a></td>
                <!-- <td><a><i class="fa text-danger fa-trash-alt" (click)="deleteCommandeById(cmd.id)" aria-hidden="true"></i></a></td> -->
                <td><a><i class="fa text-danger fa-trash-alt" (click)="deleteCommandeById(cmd.id)" aria-hidden="true"></i></a></td>
 
            </tr>
        </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
        <button
        *ngIf="isThereChange"
            class="btn btn-primary btn-sm"
            (click)="validafte()"
        >
            Régerer un facture
        </button>

        <button
            class="btn btn-danger btn-sm"
            (click)=" modal.close('Save click')"
        >
            Fermer
        </button>
    </div>
  </div>
</ng-template>

<!-- confirm modal -->
<ng-template #confirm  let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
      <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
      >
          <span aria-hidden="true">×</span>
      </button>
  </div>
  <div class="modal-body">
      Avez-vous sûre de supprimer cet element dans le panier ?
  </div>
  <div class="btn-group btn-block">
      <button
          class="btn btn-danger btn-sm"
          (click)="deleteCommande(numFacture); modal.close('Save click')"
      >
          Oui
      </button>
      <button
          class="btn btn-primary btn-sm"
          (click)="modal.close('Save click')"
      >
          Non
      </button>
  </div>
</ng-template>