.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  position: relative;
  
}

.top-card{
  border-top: 8px solid rgb(24, 73, 104);
  transition: box-shadow 0.5s ease;
}
.top-card:hover{
  box-shadow: -3px 5px 10px rgb(121, 119, 119);
}

