<div class="grid-container">
    <h1 class="mat-h5 font-weight-bolder">Tableau de bord</h1>
    <mat-grid-list cols="0" rowHeight="400px">
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <app-widget-area></app-widget-area>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
