<div style="margin-top: 100px; height: 520px;">

    <h1 style="padding-left: 20px; font-size: 25px" class="font-weight-lighter mb-5 text-uppercase"> Selection du client</h1>
    <div class="d-flex justify-content-center" >
        <div class="  "  style="width:300px">
            <div class="form-group" >
                <select  name="" id="" [(ngModel)]='clientID'>
                    <option><div> <input type="text" src="" placeholder="f"></div></option>
                    <option *ngFor="let client of clients" value="{{client.id}}">{{ client.lastName }} {{ client.firstName }}</option>
                </select>
            </div>
        <a class="btn btn-primary btn-lg btn-block mt-3" *ngIf="clientID"  (click)="next()" role="button">Continuer</a>
        </div>
</div>
</div>
