<div>
  <div class="alert alert-danger" *ngIf="error" >
    Il y a de champ n'est pas validé!
  </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <hr>
        <div class="form-group">
          <input type="text"
            class="form-control form-control-lg" name="lastName" [(ngModel)]=" clientEdit.lastName " required  aria-describedby="helpId" placeholder="Nom">
        </div>
        <div class="form-group">
            <input type="text"
              class="form-control form-control-lg" name="firstName" [(ngModel)]=" clientEdit.firstName"  required  aria-describedby="helpId" placeholder="Prénom">
          </div>
        <div class="form-group">
            <input type="text"
              class="form-control form-control-lg" name="contact" [(ngModel)]=" clientEdit.contact " required id="" aria-describedby="helpId" placeholder="Numéro téléphonique">
          </div>
          <button type="submit"   class="btn btn-primary btn-block btn-lg">Mettre à jour</button>
    </form>
</div>